<%- include('../../public/template/header.html') %>
</div>
</div>
</div>

<h1>Login Route</h1>
<% if(error){ %>
	<p><strong><%= error %></strong><p>
<% } %>
<form method="POST" action="/register">
	<input type="text" placeholder="name" name="name" required>
	<input type="text" placeholder="email" name="email" required>
	<input type="password" placeholder="password" name="password" required>
	<input type="submit">
</form>

<%- include('../../public/template/footer.html') %>