<%- include ('./template/header') %>

<div id="game">
		<h1>
			The Great 
			<br>
			<span id="colorDisplay">RGB</span> 
			<br>
			Color Game
		</h1>

		<div id="stripe">
			<button id="reset">New Colors</button>
			<span id="message"></span>
			<button class="mode">Easy</button>
			<button class="mode selected">Hard</button>
		</div>

	<div id="container" class="ui grid">
		<div class="doubling three column row">
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
		</div>
	</div>

</div>

<%- include ('./template/footer.html') %>