<%- include ('./template/header') %>

    <div class="ui internally stackable grid">

		<div id="gameButtons" class="three wide column">

			<div class="ui container gamePage">

				<button class="games color" href="#"><i class="chess board large icon" title="Colour Game"></i><span >Colour Game</span></button>
				<button class="games sound" href="#"><i class="headphones large icon" title="Sound Game"></i><span >Sound Game</span></button>

			</div>
		</div>

		<div id="gameArea" class="thirteen wide stackable column">

			<div id="colorGame" class="hide">
					<h1>
						Guess the color
						<br>
						<span id="colorDisplay">RGB</span> 
					</h1>

					<div id="stripe">
						<button id="reset">New Colors</button>
						<span id="message"></span>
						<button class="mode">Easy</button>
						<button class="mode selected">Hard</button>
					</div>

				<div id="container" class="ui grid">
					<div class="doubling three column row">
						<div class="square"></div>
						<div class="square"></div>
						<div class="square"></div>
						<div class="square"></div>
						<div class="square"></div>
						<div class="square"></div>
					</div>
				</div>

			</div>


			<div id="soundGame" class="hide">
				<h3>Press any key from A to Z</h3>
				<canvas id="myCanvas" resize></canvas>
			</div>

		</div>

	</div>


<%- include ('./template/footer.html') %>