body {
	background-color: #DADADA;
	margin: 0 auto;
  max-width: 100%;
}
#nav-bar {
	padding-left: 50px;
}
h1 {
  text-align: center;
  padding-bottom: 10px;
}
#mainHeader {
	padding-top: 40vh;
}
body > .grid {
	height: 100%;
}
.image {
	margin-top: -100px;
}
.column {
	max-width: 450px;
}
.ui {
  display: block;
  float: none;
  width: auto;
}
#nothing {
  border: solid;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}
#flashMessage p {
  margin: 0 auto;
  width: 80%;
  animation: imageAnimation 5s linear;
}

@keyframes imageAnimation { 
  0%, 100% { 
    opacity: 0;
  }
  30% {
    opacity: 1;
    animation-timing-function: ease-in;
  }
}