body {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 0 auto;
  max-width: 100%;
}
#nav-bar {
	padding-left: 50px;
}
h1 {
  text-align: center;
  padding-bottom: 10px;
}
#mainHeader {
	padding-top: 40vh;
}
body > .grid {
	height: 100%;
}

h4 {
  display: inline-block;
  height: 100%; 
}

.completed {
  color: gray;
  text-decoration: line-through;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}
#flashMessage p {
  margin: 0 auto;
  width: 80%;
  animation: imageAnimation 5s linear;
}

@keyframes imageAnimation { 
  0%, 100% { 
    opacity: 0;
  }
  30% {
    opacity: 1;
    animation-timing-function: ease-in;
  }
}
.gamePage {
  padding-top: 5vh;
  margin: 0 auto;
}
.games {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: #232323;
  padding: 25px;
  display: block;
}
.games:hover {
  color: #DADADA;
  background: #232323;
}
.hide {
  display: none;
}